/*Authored by: Jiarui Li(2530735l)*/
.header {
    width: 100%;
    height:146px;
    display: flex;
    justify-content: center;
    background-color: #6c757d
}

.header h1 {
    color: #F9F0DA;
    /*color: #d36f51;*/
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    text-decoration: 2px underline;
    /*background: #6c757d;*/

}

.background {
    height: 1400px;
    display: flex;
}

.grid-container {
    grid-gap: 40px;
    grid-row-gap: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 5fr 4fr;
    grid-template-rows: 40px  auto;
    background-image: url("globalkitchen/12.JPG");
    padding: 10px;
}
#page_form{
    width: 100%;

}
.form-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    grid-row-gap: 30px;
    margin-left: auto;
    margin-right: auto;
}
.username {
    color: #F9F0DA;
    background-color: #6c757d;
    width:250px;
    height:40px;
    margin-left: auto;
    margin-right:auto;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}
.username h2 {
    justify-content: center;
    width: 200px;
    color: #F9F0DA;
    margin-left: auto;
    margin-right:auto;

}
.picture {
    width: 400px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;

    background-color: #6c757d;
}
.picture img {
    width: 350px;
    height: 250px;
    float: left;
    text-align: center;


}
.like-view {
    height: 40px;
    width: 200px;
    margin-top: 30px;
    background-color: #F9F0DA;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;

}
.like , .view{
    color: #6c757d;
    font-size: 25px;
    margin-left:auto;
    margin-right:auto;
    padding:0 6px;
}
.like:hover{
    color: #d36f51;
}
.view:hover{
    color: #d36f51;
}
.clear{
    clear:both;
}

.text_container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-rows: 50px auto;
    justify-content: center;

    background-color: #6c757d;
    border-radius: 30px;
    margin-left:auto;
    margin-right:auto;

}

.text_container h2 {
    width: 200px;
    height:50px;
    margin-top: 20px;
    text-decoration: underline;
    font-size:26px;
    color:  #F9F0DA;

}

.text p {
    margin-top:5px;
    width:300px;
    height:300px;
    color: #F9F0DA;
    font-size: 21px;
    overflow: hidden;

}
.description-container {
    grid-column: 1/span 2;
    width: 940px;
    height: 275px;
    display: grid;
    justify-content: center;
    margin: 0 50px;
    background-color: #6c757d;
    border-radius: 30px;

}

.text2 p {
    margin-top:5px;
    width:800px;
    height:200px;
    color: #F9F0DA;
    font-size: 21px;
    overflow: hidden;

}
.description-container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    color:#F9F0DA;
}
.process-container {
    grid-column: 1/span 2;
    width: 940px;
    height: 300px;
    display: grid;
    justify-content: center;
    margin: 0 50px;
    background-color: #6c757d;
    border-radius: 30px;

}
.process-container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    color:#F9F0DA;
}
.favourite {
    grid-column: 1/span 2;
    width:200px;
    height:40px;

    margin-left: auto;
    margin-right: auto;
}
input {
    font-size:18px;
    color:#F9F0DA;
    width:200px;
    height:40px;
    background-color: #6c757d;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
