body {
    background-color: #6c757d
}
.SignupWrapper h1 {
    width: 900px;
    line-height: 70px;
    color: #6c757d;
    margin: 50px;
    padding-top: 20px;
    padding-left: 10%;
    font-size: 60px;


}
.Signup-box {
    padding-left: 210px;
    display:grid;
    grid-template-rows:60px 60px 60px 60px;
    grid-row-gap: 5px;
}
.SignupWrapper {
    position:relative;
    width: 900px;
    height: 600px;
    background: #F9F0DA;
    border-radius: 30px;
    margin-left:20%;
    margin-top: 8%;

}
.LogIn-box input{
    border-radius: 30px;
}

.usernameLine{
    display: grid;
    grid-template-columns: 120px 60px;

}

.passwordLine {
    display: grid;
    grid-template-columns: 120px 60px;

}

.emailLine {
    display: grid;
    grid-template-columns: 120px 60px;
}

.title{
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    font-size: 20px;
}
.input{
    margin:auto;
    justify-content: start;

}
input {
    width:200px;
    height:40px;

    font-size: 25px;
    color: #6c757d;
    display: flex;
    justify-content: center ;
    align-items:start;
}


.button input{
    position: absolute;
    cursor: pointer;
    color: #F9F0DA;
    font-size:25px;
    background-color: #6c757d;
    padding-right: 15px;
    text-align: center;
    right:40px;
    bottom:50px;

}
.sentence{
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.left_part{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    color: #6c757d;
}
.empty_space{
    height: 40vh;
    width: 100%;
    color: #6c757d;
}

