<!-- Authored by: Xinuo Zhou(2550838z) -->
{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block extracss %}
<link href="{% static 'css/Upload.css' %}" rel="stylesheet" type="text/css">
{% endblock extracss %}

{% block title_block %}
Uploadrecipe
{% endblock %}




{% block body_block %}
<header>
    <div class="header">
        <h1>Upload Recipe</h1>
    </div>
</header>
<div class="background">

    <div class="grid-container">
        <div></div>
        <div></div>
        <div></div>

        <div class="aside-left"></div>

        <form id="upload-page" method="POST" action="{% url 'rango:upload_recipe' user.username %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div class="form-wrapper">

                <div class="picture-container">
                    <div class="input-picture">
                        {{ form.picture }}
                    </div>
                </div>

                <div>
                    <div class="entry-name">
                         <p>Enter recipe name:<br>{{ form.name }}</p>
                    </div>

                    <div class="entry-country">
                        <p>Enter country:<br>{{ form.country }}</p>
                    </div>
                </div>

                <div class="text_container">
<!--                           {{ form.recipe_text }}-->
                    <div><h2>Ingredients : <br/></h2>
                    <div>  <input type="text" name="recipe_text_0" required id="id_recipe_text_0" placeholder=" Enter ingredients here:"></div></div>
                    <div><h2>Instructions : <br/></h2>
                    <div>  <input type="text" name="recipe_text_1" required id="id_recipe_text_1" placeholder=" Enter steps here:"></div></div>
                    <div><h2>Description : <br/></h2>
                    <div> <input type="text" name="recipe_text_2" required id="id_recipe_text_2" placeholder=" Enter description here:"></div></div>


                </div>


                <div class="submit-container">
                    <div class="button-position"><input name="Button" type="submit" value="submit"></div>
                </div>
            </div>

        </form>

        <div class="aside-right"></div>

    </div>
</div>

 <div class="empty_space"></div>
</div>

{% endblock %}