<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/Style.css' %}" rel="stylesheet" type="text/css">

{% block extracss %}

{% endblock extracss %}


    <title>
        {% block title_block %}
        Global kitchen
        {% endblock %}
    </title>
</head>

{% block nav_block %}

    {% if not user.is_authenticated %}
    <div class="navbar">
        <ul class="one-list">
            <li><h1>Global Kitchen</h1></li>
            <li><a href="{% url 'rango:homepage' %}">Home</a></li>
            <li><a href="{% url 'rango:cookbook' %}">CookBook</a></li>



        </ul>
        <ul class="two-list">
            <li><a href="{% url 'rango:signup' %}">Sign up</a></li>
            <li><a href="{% url 'rango:login' %}">Log in</a></li>
        </ul>
    </div>

    {% else %}

    <div class="navbar">
        <ul class="one-list">
            <li><h1>Global Kitchen</h1></li>
            <li><a href="{% url 'rango:homepage' %}">Home</a></li>
            <li><a href="{% url 'rango:cookbook' %}">CookBook</a></li>

            <li><a href="{% url 'rango:userpage' user.username %}">Myaccount</a></li>
        </ul>
        <ul class="two-list">
            <li><a href="{% url 'rango:restricted' %}">Hi, {{ user.username }}</a></li>
            <li><a href="{% url 'rango:logout' %}">Log out</a></li>
        </ul>
    </div>


{% endif %}
{% endblock  %}


<body>
    <div>
          {% block body_block%}

         {% endblock %}
    </div>


    <div>
    {% block bottombar_block %}
    <footer>
        <p>Global kitchen <br> --Lab Group 4 Team C<br>
            --Finlay, Xinuo, Jiarui, Michael, Jamie
        </p>
    </footer>
    {% endblock %}
    </div>

</body>

</html>
