{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block extracss %}
<link href="{% static 'css/CookBook.css' %}" rel="stylesheet" type="text/css">
{% endblock extracss %}

{% block title_block %}
    cookbook
{% endblock %}

{% block body_block %}

<body>

    <div class="header">
        <h1>Total recipes</h1>
    </div>


<div class="container">
    <div class="aside-left-element">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="">Ukraine</a>
            <a href="">China</a>
            <a href="">Japan</a>
            <a href="">Italy</a>
        </div>

        <h2>countries</h2>
        <span style="font-size:30px;cursor:pointer;color:#813f2c;" onclick="openNav()">&#9776; > </span>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </div>

    <div class="wrap-list-item">
        <ul class="list-item">
            <div class="recipe-image">
                {% for r in recipes %}
                <a href="{% url 'rango:show_recipe' r.id %}">
                <li><img src="{{r.picture.url}}" alt="dish" /><p>{{ r.name }}</p></li>
                </a>
                {% endfor %}

            </div>
        </ul>
    </div>

    <div class="aside-right-element"></div>
</div>


<ul class="pagination">
    <li><a href="">«</a></li>
    <li><a class="active" href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">5</a></li>
    <li><a href="">6</a></li>
    <li><a href="">7</a></li>
    <li><a href="">»</a></li>
</ul>

{% endblock %}
