{% extends 'rango/base.html' %}
<!-- Authored by: Xinuo Zhou(2550838z), -->
{% load staticfiles %}

{% block extracss %}
<link href="{% static 'css/Home.css' %}" rel="stylesheet" type="text/css">
{% endblock extracss %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}

<header>
    <div class="slide">
        <div class="images">
            <!--            <img  src="image/1.JPG" alt="dishes">-->
            <img src="{% static 'image/2.JPG' %}" alt="dishes">
            <img src="{% static 'image/3.JPG' %}" alt="dishes">
            <img src="{% static 'image/4.JPG' %}" alt="dishes">
            <img src="{% static 'image/5.JPG' %}" alt="dishes">
            <img src="{% static 'image/6.JPG' %}" alt="dishes">
            <img src="{% static 'image/7.JPG' %}" alt="dishes">
            <img src="{% static 'image/8.JPG' %}" alt="dishes">
            <img src="{% static 'image/9.JPG' %}" alt="dishes">
            <img src="{% static 'image/10.JPG' %}" alt="dishes">
            <img src="{% static 'image/1.JPG' %}" alt="dishes">

        </div>
    </div>
</header>

<div><h2>Most liked recipe</h2></div>

<div class="container">
    <div class="aside-left"></div>
    <div class="wrap-list">
        {% if recipe_likes %}
        <ul class="list-item">
            {% for recipe in recipe_likes %}
            <li class="list-recipe">
                <img src="{{ recipe.picture.url }}" alt="dish">
                <a href="{% url 'rango:show_recipe' recipe.id %}">{{ recipe.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
   <div class="aside-right"></div>

</div>


<div><h2>Most viewed recipe </h2></div>
<div class="container">
    {% if recipe_views %}
    <ul class="list-item">
        {% for recipe in recipe_views %}

        <li>
            <img src="{{ MEDIA_URL }}{{ recipe.image }}" alt="dish">
            <a href="{% url 'rango:show_recipe' recipe.id %}">{{ recipe.name }}</a>
        </li>

    </ul>

    {% endfor %}
    {% endif %}
</div>

<div><h2>Recommended ingredients website </h2></div>
<div class="container3">
    <div class="aside-left"></div>
    <div class="grid-item">
        <ul>
            <li><a href="https://www.buywholefoodsonline.co.uk/">BuyWholefoods</a></li>
            <li><a href="https://starrymart.co.uk/">starrymart</a></li>
            <li><a href="https://shop.wattsfarms.co.uk/">wattsfarms</a></li>
            <li><a href="https://www.fishforthought.co.uk/">fishforthought</a></li>
            <li><a href="https://www.eatgreatmeat.co.uk/">eatgreatmeat</a></li>
            <li><a href="https://groceries.morrisons.com/webshop/startWebshop.do">Morrisons</a></li>
        </ul>
    </div>
    <div class="aside-right"></div>
</div>

{% endblock %}